<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuUjCPupgV9ReoxG3yoR5g3s36Q1lECpo</string>
	<key>GCM_SENDER_ID</key>
	<string>331276761842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navin.TweetSense</string>
	<key>PROJECT_ID</key>
	<string>tweetsense-52cb9</string>
	<key>STORAGE_BUCKET</key>
	<string>tweetsense-52cb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331276761842:ios:9e2cb23ab422daadab6e6b</string>
</dict>
</plist>